html, body{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #222222;
    font-size: 13px;
    line-height: 30px;
    margin: 0;
    min-height: 100%;
}

#page-transition{
    position: fixed;
    background: white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999999;
    -webkit-transition: bottom 0.3s;
    -moz-transition: bottom 0.3s;
    transition: bottom 0.3s;
}
#page-transition.openUp{
    bottom: 100%;
}

*{
    transition: all .5s;
    -webkit-transition: all .5s;
}

a{
    color: #00abe3;
}

p{
    font-family: 'Crete Round', serif;
    margin: 0 0 20px;
}

.branding{
    background: #fff;
}
.branding > object{
    width: 220px;
    margin: 25px 0 15px;
}

#home{
    background: #0c4958;
    min-height: 100%;
}
#home .content-wrapper{
    color: #ffffff;
}
#home .content-wrapper p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2.95em;
    line-height: 55px;
    margin: 270px 0 0 25px;
}
#home .content-wrapper .hero-image{
    padding-right: 0;
    margin-top: 65px;
}
#home .content-wrapper .hero-image > span{
    border-right: 1px solid #728184;
    display: inline-block;
    float: right;
}
#home .content-wrapper a{
    color: #ffffff;
}
#home .paging{
    font-size: .8em;
    margin: 30px 0 0;
}
#home .paging .fa{
    font-size: 2.90em;
    display: block;
}
.breadcrumb{
    background: none;
}
.breadcrumb>.active {
    color: #6e6e6e;
}

.breadcrumb>li+li:before{
    content: "\f178";
    color: #e5e5e5;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.page-header{
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    border: none;
}
.page-header h2{
    font-size: 1.55em;
    font-weight: 700;
    text-transform: uppercase;
}
.page-header:after{
    content:"";
    width:65px;
    height:1px;
    background:#000;
    display:inline-block;
}

#products .media{
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.04);
    -moz-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.04);
    box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.04);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 30px;
    display: inline-block;
}
#products .media:hover{
    text-decoration: none;
    background: #FCFCFC;
}
#products .media:hover .media-body:after{
    color: #000;
}
#products .media .media-left{
    background: #fafafa;
}
#products .media .media-left .media-object{
    margin:52px 29px;
}
#products .media .media-body{
    position: relative;
    padding: 75px 0 0px 40px;
}
#products .media .media-body > .media-heading{
    color: #414042;
    font-size: 25px;
}
#products .media .media-body > .media-heading:after{
    content: "";
    display: block;
    width: 55px;
    height: 1px;
    background: #000;
    margin: 17px 0 12px;
}
#products .media .media-body > .p{
    font-family: 'Open Sans', sans-serif;
    color: #a4a4a4;
    font-size: 15px;
    text-transform: uppercase;
}
#products .media .media-body:after{
    content: "\f105";
    position: absolute;
    display: inline-block;
    font: normal normal normal 67px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    color: #c2c2c2;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 45px;
    width: 24px;
    height: 39px;
    line-height: 35px;
}

.jumbotron{
    padding: 135px 0 !important;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    position: relative;
    color: #fff;
    background-size: cover;
}
.jumbotron.etcore{
    background: url('/assets/images/et-core.jpg') no-repeat center;
}
.jumbotron.atom{
    background: url('/assets/images/et-atom.jpg') no-repeat center;
}
.jumbotron h1{
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.jumbotron h1:after{
    content: "";
    display: block;
    width: 90px;
    height: 1px;
    background: #fff;
    margin: 15px auto 25px;
}
.jumbotron p{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.inner-nav{
    margin: 0 auto;
    display: inline-block;
    color: #000;
}
.inner-nav li a{
    color: #4b4b4b;
    text-transform: uppercase;
    padding: 0px;
    margin: 0 20px;
}
.inner-nav li:hover, .inner-nav li a:hover, 
.inner-nav li a.active:hover, .inner-nav li a.active:focus, .inner-nav li a:focus{
    background: none;
    color: black;
}
.inner-nav li a.active{
    color: #00abe3;
    background: none;
    border-bottom: 1px solid #00abe3;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
.inner-nav li a:hover, .inner-nav li a.active:hover{
    color: #000;
}

h3.inner-heading{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #010101;
    font-size: 3.3em;
    margin: 97px 0 0;
}
h3.inner-heading:after{
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background: #010101;
    margin: 25px auto 45px;
}

.circle-thump{
    background: #63888f;
    color: white;
    font-size: 62px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    display: inline-block;
    width: 160px;
    height: 160px;
    padding: 49px 0;
    text-align: center;
    margin: 0 0 20px;
}
.circle-thump.green{
    background: #75bcaa;
}
.circle-thump.red{
    background: #e47559;
}
.circle-thump.yellow{
    background: #f0c462;
}
.circle-thump.blue{
    background: #63888f;
}

h5{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #999999;
    font-size: 20px;
}
.media-left, .media>.pull-left {
    padding-right: 20px;
}
.media-left .fa{
    color: #999999;
    font-size: 36px;
    margin: 12px 0 0;
}

input.form-control, textarea.form-control{
    background: #f8f8f8;
    border: 1px solid #e5e5e5;
    box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    padding: 19px 15px;
}
#liveDemo form{
    display: inline-block;
    width: 100%;
    padding:80px 70px 20px 50px;
}
form button.btn{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border:none;
    padding: 10px 20px;
}
form button.btn[type="submit"]{
    background: #00abe3;
    font-weight: bold;
}
#liveDemo h3:after{
    width: 100%;
    margin-bottom: 0;
}
#liveDemo a.fa{
    font-size: 70px;
    color: #c6c6c6;
    margin: 250px auto 0;
}
label{
    font-weight: 500;
}

.iphone{
    width: 356px;
    height: 656px;
    -webkit-border-bottom-right-radius: 63px;
    -webkit-border-bottom-left-radius: 63px;
    -moz-border-radius-bottomright: 63px;
    -moz-border-radius-bottomleft: 63px;
    border-bottom-right-radius: 63px;
    border-bottom-left-radius: 63px;
    border:4px solid #c5c5c5;
    border-top: none;
    text-align: center;
    margin: 0 auto;
}
.iphone:after{
    content: "";
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border:4px solid #c5c5c5;
    margin: 7px auto 0;
}
.iphone > .iphone-content{
    border:2px solid #c5c5c5;
    border-top: none;
    margin: 0 auto;
    width: 316px;
    height: 557px;
    overflow: hidden;
    display: inline-block;
}

#innerTab.fixed{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 10px;
    background-color: white;
    z-index: 999;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.05);
    box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.05);
}


#main-menu{
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    margin-bottom: 0;
    border-radius: 0;
}

#main-menu:after{
    content: "";
    width: 300px;
    height: 1px;
    display: inline-block;
    background: #e5e5e5;
    margin-bottom: 10px;
}

#main-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#main-menu ul > li{
    display: inline-block;
    margin: 0;
}
#main-menu ul > li:after{
    content: "\f192";
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    color: #dddddd;
    font-size: .7em;
    margin: 26px 18px 0 20px;
    float: left;
}
#main-menu ul > li:last-child:after{
    display: none;
}
#main-menu ul > li > a{
    color: #4b4b4b;
    float: left;
    padding: 20px 0 5px;
}
#main-menu ul > li > a:hover, #main-menu ul > li > a:focus{
    background: none;
    color: #00abe3;
}
#main-menu ul > li > a.active{
    color: #00abe3;
}

.navbar-nav{
    float: none;
    display: inline-block;
}
.navbar-header{
    text-align: center;
}
.navbar-header .navbar-toggle{
    border-color: #e5e5e5;
    margin: 0 auto;
    float: none;
    margin-top: 20px;
}
.navbar-toggle .icon-bar{
    background-color: #e5e5e5;
}
.navbar-collapse.collapse.in .navbar-nav li, .navbar-collapse.collapse.in .navbar-nav li a{
    width: 100%;
}
.navbar-collapse.collapse.in .navbar-nav li:after{
    display: none;
}

.instant-paging{
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 18px;
    height: 38px;
    color: #000;
}
.instant-paging > .text-muted{
    font-size: .8em;
}
.instant-paging .fa{
    font-size: 60px;
    position: absolute;
    top: -12px;
}
.instant-paging.right .fa{
    right: 0;
}
.instant-paging.right{
    right: 40px;
    padding-right: 30px;
    text-align: right;
}

.instant-paging.left .fa{
    left: 0;
}
.instant-paging.left{
    left: 40px;
    padding-left: 30px;
}


body > footer{
    text-align: center;
    border-top: 1px solid #ced3db;
    color: #757575;
    font-size: 11px;
    padding: 30px;
    margin-top: 100px;
}
#reachUs p{
    font-family: 'Open Sans', sans-serif;
}
#reachUs .fa{
    font-size: 40px;
}
#technology .col-md-4{
    padding: 0 50px;
}
#technology .col-md-4 .title{
    display: inline-block;
    width: 100%;
    font-size: 2em;
    background: rgba(0,0,0,0.2);
    margin: 0 0 20px;
    padding: 17px 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#technology .col-md-4 img{
    max-width: 150px;
    margin-top: 60px;
}
#technology .native, #technology .crossplatform, #technology .opensource{
    color: #ffffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    min-height: 300px;
    position: relative;
    overflow: hidden;
}
#technology .container > .row{
    position: relative;
    display: inline-block;
}
#technology .container > .row > .col-md-12{
    margin: 60px 0;
}
#technology .container > .row:first-child:after{
    content: "";
    display: inline-block;
    width: 67%;
    height: 1px;
    background: #ced3db;
    position: absolute;
    left: 0;
    bottom: 261px;
    right: 0;
    margin: 0 auto;
}
#technology .col-md-4{
    position: relative;
}
#technology .col-md-4:after{
    content: "";
    display: inline-block;
    width: 1px;
    height: 50px;
    background: #ced3db;
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#technology .col-md-4:nth-child(2):after{
    height: 65px;
    bottom: -65px;
}

#technology .native .fa, #technology .crossplatform .fa, #technology .opensource .fa{
    font-size: 68px;
    margin: 10px 20px;
}
#technology .native > .mask, #technology .crossplatform > .mask, 
#technology .opensource > .mask{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 2em;
    padding: 130px 0 0;
}
#technology .native:hover > .mask, #technology .crossplatform:hover > .mask, 
#technology .opensource:hover > .mask{
    top: -300px;
    bottom:300px;
}

#technology .native, #technology .native > .mask{
    background: #5ab5a3;
}
#technology .crossplatform, #technology .crossplatform > .mask{
    background: #5798c2;
}
#technology .opensource, #technology .opensource > .mask{
    background: #9979a4;
}

#technology img{
    margin: 0 auto;
}

#reachUs .location{
    display: inline-block;
    width: 100%;
    height: 450px;
    background: url('../images/map.png') no-repeat center;
}

#portfolio h3.inner-heading:after{
    margin: 25px 0 45px;
}
#portfolio blockquote{
    margin: 70px 0 20px 25px;
}
#portfolio h3.inner-heading{
    margin-top: 50px;
}

#portfolio .iphone{
    width: 356px;
    height: 752px;
    border-radius: 63px;
    -webkit-border-radius: 63px;
    -moz-border-radius: 63px;
    border:4px solid #c5c5c5;
    border-top: 4px solid #c5c5c5;
    text-align: center;
    margin: 0 auto;
}
#portfolio .iphone:before{
    content: "";
    display: inline-block;
    width: 50px;
    height: 9px;
    background: #d8d8d8;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 45px auto 20px;
}
#portfolio .iphone:after{
    content: "";
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border:4px solid #c5c5c5;
    margin: 7px auto 0;
}
#portfolio .iphone > .iphone-content{
    border-top: 2px solid #c5c5c5;
}

#portfolio .product-container{
    margin-bottom: 90px;
}


::selection{
    background-color: #0c4958;
    color: #ffffff;
}


@media (max-width: 1200px){
    #liveDemo a.fa, .instant-paging{
        display: none;
    }
    #technology .native:after, #technology .crossplatform:after, #technology .opensource:after,
    #technology .container > .row:first-child:after{
        display: none;
    }
    #technology .col-md-4{
        margin-bottom: 20px;
    }
}

@media (max-width: 1366px){
    #home .content-wrapper p {
        font-size: 2.95em;
        margin: 140px 0 0 25px;
    }
    #home .content-wrapper .hero-image img{
        width: 420px;
    }
    #home .content-wrapper .hero-image {
        padding-right: 0;
        margin-top: 30px;
    }
    .branding > object {
        margin: 20px 0 5px;
    }
    #home .paging {
        margin: 15px 0 0;
        line-height: 20px;
    }

    .instant-paging{
        display: none;
    }
    .page-header{
        margin: 20px 0 0;
    }
    .breadcrumb{
        margin-bottom: 0;
    }
    #products .media .media-left .media-object {
        margin: 15px 29px;
    }
    #products .media .media-body {
        padding: 30px 0 0px 40px;
    }
    .jumbotron{
        padding: 40px 0 35px !important;
    }
    #reachUs .location{
        height: 350px;
    }
}